body {
    font-family: 'Rubik', sans-serif;
}

.main-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;

    @media only screen and (min-width: 800px) {
        flex-direction: row;
        align-items: center;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -20rem;
        height: 60rem;
        width: 60rem;
        border-bottom-left-radius: 1000px;
        border-bottom-right-radius: 1000px;
        background: linear-gradient(to top right, var(--color-light-violet), var(--color-light-magenta));

        @media only screen and (min-width: 800px) {
            height: 80rem;
        }
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: -20rem;
        height: 40rem;
        width: 60rem;
        border-top-left-radius: 1000px;
        border-top-right-radius: 1000px;
        background-color:  	hsl(290, 37%, 97%);
        z-index: -10;

        @media only screen and (min-width: 800px) {
            height: 60rem;
        }
    }
}

.phone-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8rem 0;

    @media only screen and (min-width: 800px) {
        flex-basis: 50%;
        justify-content: flex-end;
        padding: 0;
        padding-left: 6rem;
        padding-right: 8rem;
    }

    @media only screen and (min-width: 1000px) {
        padding-right: 12rem;
    }
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 58rem;
    margin: 0 auto;
    margin-bottom: 10rem;
    padding: 0 4rem;
    text-align: center;

    @media only screen and (min-width: 800px) {
        margin: 0;
        align-items: flex-start;
        text-align: start;
    }
}

h1 {
    margin-bottom: 3rem;
    color: var(--color-very-dark-desaturated-violet);
    font-size: 4.5rem;
    font-weight: 500;

    @media only screen and (min-width: 400px) {
        font-size: 5rem;
    }
}

p {
    color: var(--color-dark-greyish-violet);
    font-size: 2rem;
    line-height: 1.6;
}

.attribution {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 2rem;
    font-size: 11px;
    text-align: center;

    a {
        color: var(--color-light-magenta);
    }
}